In [1]:
import pandas as pd
df=pd.read_csv("Punjab_processed.csv")
df.head()

,Market,Arrival Year,Arrival Month,Arrivals (Tonnes),Variety,Minimum Price(Rs./Quintal),Maximum Price(Rs./Quintal),Modal Price(Rs./Quintal)
0,Abohar,2019,December,52.54,Potato,340.0,1619.0,1185.0
1,Abohar,2019,December,37.24,Potato,539.0,1431.0,1420.0
2,Abohar,2019,December,53.34,Potato,552.0,2750.0,846.0
3,Abohar,2019,December,27.50,Potato,1096.0,1576.0,1341.0
4,Abohar,2019,December,52.57,Potato,415.0,1692.0,1574.0

In [ ]:
output.head()

In [2]:
from sklearn.preprocessing import LabelEncoder
le_file=LabelEncoder()

In [ ]:
input['Market']= le_file.fit_transform(input['Market'])
input['Arrival Month']= le_file.fit_transform(input['Arrival Month'])
input['Arrival Year']= le_file.fit_transform(input['Arrival Year'])
#input['Variety']= le_file.fit_transform(input['Variety'])
input.head()

In [3]:
df.isnull().any()

Market                         True
Arrival Year                  False
Arrival Month                 False
Arrivals (Tonnes)              True
Variety                        True
Minimum Price(Rs./Quintal)     True
Maximum Price(Rs./Quintal)     True
Modal Price(Rs./Quintal)       True
dtype: bool

In [4]:
df = df.dropna(axis=0, subset=['Arrivals (Tonnes)','Variety','Market','Minimum Price(Rs./Quintal)','Maximum Price(Rs./Quintal)', 'Modal Price(Rs./Quintal)' ])

In [5]:

#input['Variety']= le_file.fit_transform(input['Variety'])
df.head()

,Market,Arrival Year,Arrival Month,Arrivals (Tonnes),Variety,Minimum Price(Rs./Quintal),Maximum Price(Rs./Quintal),Modal Price(Rs./Quintal)
0,Abohar,2019,December,52.54,Potato,340.0,1619.0,1185.0
1,Abohar,2019,December,37.24,Potato,539.0,1431.0,1420.0
2,Abohar,2019,December,53.34,Potato,552.0,2750.0,846.0
3,Abohar,2019,December,27.50,Potato,1096.0,1576.0,1341.0
4,Abohar,2019,December,52.57,Potato,415.0,1692.0,1574.0

In [6]:
input=df.drop('Modal Price(Rs./Quintal)' ,axis='columns')

output=df['Modal Price(Rs./Quintal)']
input.head()

,Market,Arrival Year,Arrival Month,Arrivals (Tonnes),Variety,Minimum Price(Rs./Quintal),Maximum Price(Rs./Quintal)
0,Abohar,2019,December,52.54,Potato,340.0,1619.0
1,Abohar,2019,December,37.24,Potato,539.0,1431.0
2,Abohar,2019,December,53.34,Potato,552.0,2750.0
3,Abohar,2019,December,27.50,Potato,1096.0,1576.0
4,Abohar,2019,December,52.57,Potato,415.0,1692.0

In [7]:
input['Market']= le_file.fit_transform(input['Market'])
input['Arrival Month']= le_file.fit_transform(input['Arrival Month'])
input['Arrival Year']= le_file.fit_transform(input['Arrival Year'])
input['Variety']= le_file.fit_transform(input['Variety'])
input.head()

from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(input,output,test_size=0.2)

In [8]:
from sklearn.svm import SVR

In [9]:
regressor = SVR(kernel='poly', gamma='scale')
regressor.fit(x_train,y_train)

SVR(C=1.0, cache_size=200, coef0=0.0, degree=3, epsilon=0.1, gamma='scale',
    kernel='poly', max_iter=-1, shrinking=True, tol=0.001, verbose=False)

In [10]:
y_pred=regressor.predict(x_test)

In [11]:
print("accuracy is",regressor.score(x_test, y_test))

accuracy is 0.8101772197607224

In [12]:
from sklearn.externals import joblib
filename="Punjab_nodal_potato.sav"
joblib.dump(regressor, filename)

C:\Users\Palak\Anaconda\lib\site-packages\sklearn\externals\joblib\__init__.py:15: DeprecationWarning: sklearn.externals.joblib is deprecated in 0.21 and will be removed in 0.23. Please import this functionality directly from joblib, which can be installed with: pip install joblib. If this warning is raised when loading pickled models, you may need to re-serialize those models with scikit-learn 0.21+.
  warnings.warn(msg, category=DeprecationWarning)

['Punjab_nodal_potato.sav']